
.note-card
  %h1= @note.title.html_safe
  %br

  %p2= @note.content.html_safe
  %br
  .datetime
    %p= @note.created_at.strftime("%d %b %Y в %H:%M")




  %br
  = link_to(@note.prev, html_options = {class: 'btn btn-default'}) do
    %span.glyphicon.glyphicon-chevron-left
    Previous note
  = link_to(@note.next, html_options = {class: 'btn btn-default pull-right'}) do
    Next note
    %span.glyphicon.glyphicon-chevron-right

-#= link_to "All notes", notes_path, class: 'btn btn-default'

