!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Myblog
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag params[:controller]
    = javascript_include_tag params[:controller]

%body
  .container
    %nav.navbar.navbar-default
      .navbar-header
        %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a{:href => "https://github.com/irenliber"}
          = icon('github', class: 'pull-left fa-2x')
          %img{:border => "0", :src => "http://x-lines.ru/letters/i/cyrillicscript/0412/050505/36/0/jf3gk51cpftgkho.png"}
      #navbar.navbar-collapse.collapse{"aria-expanded" => "false", :style => "height: 0.8px;"}
        %ul.nav.navbar-nav.pull-right
          %li
            = link_to 'Notes', root_path
          - Page.where(active: true).order(position: :asc).each do |page|
            %li
              = link_to page.title, page_path(page.id)

    %hr

    = yield

